<!DOCTYPE html>
<html lang="en">

<head>
    <title>BKP PPIC Monitoring API</title>
</head>

<body>
    <h1>PPIC Monitoring</h1>
    <h1>NodeJS version : <%= nodeJSVersion %></h1>
    <h1>Express Version : <%= expressVersion %></h1>
</body>

</html>